
.main-table-container{
    display: flex;
}
.product-cars--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider{
justify-content: center;
overflow: hidden;
}
:hover.plan-card--ca {
    background-color: rgb(244, 152, 113);
}
.currency-table--container td , .info-table--container td{
  backdrop-filter: blur(7px);
  background: rgba(253, 217, 217, 0.342);
  border: 1px solid rgb(250, 235, 235);

}

main{
    background-color: beige;
}
.currency-table--container td{
    width: 68%;
}
.click-aqui{
    text-decoration:  none;
    padding-left: 15px;
    color: rgb(164, 96, 226);
}





